.movie-component{
    /* border: 1px solid black; */
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: white;
    margin-bottom: 20px;
}

.movie-component h4{
    display: inline;
    top:0px;
}

.movie-component ul{
    padding-left:0px;
}

.movie-component li{
    display: inline;
}

.movie-component span{
    background-color: rgb(217, 224, 33);
    border-radius: 5px;
    padding: 3px;
    padding-left: 4px;
    padding-right: 4px;
    color:white;
}

.genres{
    color: rgb(217, 224, 33);
}

